<% include ../header.ejs %>
	<br>
	<h1><%=user.displayname%> 상세 정보</h1>
	<br>
	<table class="table table-bordered table-hover">
		<colgroup>
			<col style="width: 200px;"/>
			<col />
		</colgroup>
		<tr>
			<th class="text-center active">ID</th>
			<td><%=user.username%></td>
		</tr>
		<tr>
			<th class="text-center active">이름</th>
			<td><%=user.displayname%></td>
		</tr>
		<tr>
			<th class="text-center active">생일</th>
			<td><%=profile.getBirthday%></td>
		</tr>
		<tr>
			<th class="text-center active">전화번호</th>
			<td><%=profile.phone%></td>
		</tr>
		<tr>
			<th class="text-center active">성별</th>
			<td><% if (profile.gender == "male") { %>남자<% } if (profile.gender == "female") { %>여자<% } %></td>
		</tr>
		<tr>
			<th class="text-center active">등록일</th>
			<td><%=user.getDate%></td>
		</tr>
	</table>

	<% if (permission) { %><a class="btn btn-primary" href="/profile/edit">수정하기</a><% } %>
<% include ../footer.ejs %>