<% include ../header.ejs %>

	<div class="panel panel-default">
		<div class="panel-heading"><%=post.title%></div>
		<div class="panel-body">
			<div style="padding-bottom: 10px">작성일 : <%=post.getDate%></div>
			<% if (post.thumbnail) { %>
			<p>
				<img src="/uploads/<%=post.thumbnail%>" style="max-width: 100%;"/>
			</p>
			<% } %>
			<%=post.content%>

			<hr />
			<!-- 댓글영역 -->
			<label>댓글</label>
			<br>
			<ul id="comment_area">
				<% comments.forEach(function (comment) { %>
				<li style="height: 30px;">
					<%=comment.content%>
					<span class="pull-right">
						<small><%=comment.getDate%></small> &nbsp;&nbsp;
						<a class="btn btn-danger btn-sm comment_delete" comment_id="<%=comment.id%>">삭제</a>
					</span>
				</li>
				<% }); %>
			</ul>
			<br>
			<div>
				<label>댓글작성하기</label>
				<form id="commentForm" action="" method="post">
					<input type="hidden" name="_csrf" value="<%=csrfToken%>" />
					<input type="hidden" name="post_id" value="<%=post.id%>" />
					<div class="row">
						<div class="col-xs-9">
							<textarea class="form-control" name="content"></textarea>
						</div>
						<div class="col-xs-3 text-center">
							<button class="btn btn-primary">댓글작성</button>
						</div>
					</div>
				</form>
			</div>
			<!-- 댓글영역 -->
		</div>
	</div>

	<a href="/posts" class="btn btn-default">목록으로</a>
	<a href="/posts/edit/<%=post.id%>" class="btn btn-primary">수정</a>
	<a href="/posts/delete/<%=post.id%>" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>

<script type="text/javascript">
	(function () {
		$(document).ready(function () {
			insertComment();
			deleteComment();
		});
	})();

	// 댓글 추가
	function insertComment() {
		$('#commentForm').submit(function () {
			var contentTxt = $(this).find('textarea[name=content]').val();

			$.ajax({
				url: '/posts/ajax_comment/insert',
				type: 'POST',
				data: $(this).serialize()
			})
			.done(function (res) {
				if (res.message == 'success') {
					$('#comment_area').append('<li style="height: 30px;">' + res.content + '<span class="pull-right"><small>' + getNow() + '</small> &nbsp;&nbsp; <a class="btn btn-danger btn-sm comment_delete" comment_id="' + res.id + '">삭제</a></span></li>');
					$('#commentForm textarea[name=content]').val('');
				}
			})
			.fail(function (err) {
				console.log(err);
			})

			return false;
		});
	}

	// 한자리 숫자를 두자리 문자열로 변환 (ex: 2 -> '02')
	function getTwoDigit(number) {
		return number < 10 ? '0' + number : number;
	}

	// 현재 날짜 얻기
	function getNow() {
		var now = new Date();
		return now.getFullYear() + '.' + getTwoDigit(now.getMonth() + 1) + '.' + getTwoDigit(now.getDate()); 
	}

	// 댓글 삭제 등록
	function deleteComment() {
		$(document).on('click', '.comment_delete', function () {
			if (confirm('삭제하시겠습니까?')) {
				var _$this = $(this);
				$.ajax({
					url: '/posts/ajax_comment/delete',
					type: 'POST',
					data: {comment_id: _$this.attr('comment_id')}
				})
				.done(function () {
					_$this.parent().parent().remove();
					alert('삭제가 완료되었습니다.');
				})
				.fail(function (err) {
					console.log(err);
				});
			}
		});
	}
</script>

<% include ../footer.ejs %>