<% include ../header.ejs %>
	
	<table class="table table-bordered table-hover">
		<colgroup>
			<col />
			<col style="width: 140px;"/>
			<col style="width: 140px;"/>
			<col style="width: 100px;"/>
		</colgroup>
		<tr>
			<th class="text-center">제목</th>
			<th class="text-center">작성자</th>
			<th class="text-center">작성일</th>
			<th class="text-center">삭제</th>
		</tr>
		<% posts.forEach(function (post) { %>
		<tr>
			<td><a href="/posts/detail/<%=post.id%>"><%=post.title%></a></td>
			<td class="text-center"><%=post.username%></td>
			<td class="text-center"><%=post.getDate%></td>
			<td class="text-center"><a href="/posts/delete/<%=post.id%>" class="btn btn-danger btn-sm" onclick="return confirm('삭세하시겠습니까?')">삭제</a></td>
		</tr>
		<% }); %>
	</table>

	<a href="/posts/write" class="btn btn-default">작성하기</a>

<% include ../footer.ejs %>